// Mixins Here
.layout(@j-content: center, @a-items: center) {
    display: flex;
    justify-content: @j-content;
    align-items: @a-items;
}

.page {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}