// Mixins Here
.layout(@j-content: center, @a-items: center) {
    display: flex;
    justify-content: @j-content;
    align-items: @a-items;
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.links() {
    text-decoration: none;
    color: @nav-font;
    font-size: 1.6rem;
}

.button(@y: 10px, @x: 20px) {
    padding: @arguments;
    background: @btn-bg-color;
    color: white;


    transition: all .3s ease;
}

&:hover {
    background-color: purple;
    color: lightpink;
    border: 1px solid black;
}


@media @phone {
    width: 100%;
    height: 60px;
}