// Navigation code here
.main-nav {
    border: 1px solid purple;
    margin: 30px;
    .center;
    background: @nav-bg;
    border-bottom: @nav-border;
    width: 100%;


}

.nav-bar {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content:center;


    .top-bar {
        border: 1px solid red;
        margin-top: 1.2rem;
        font-size: 3.2rem;
align-content:center;
        color: @header-font-color;

        width: 100%;
    }

    .bottom-bar {
        border: 1px solid blue;
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;

        nav {
            display:flex;
            justify-content: space-between;
            align-content:center;


            a {
                font-size: 1.3rem;
                text-decoration: none;
                padding: 1rem 1%;
                color: @header-font-color;
                justify-content: space-between;
                align-content:center;
            }
        }

    }
}



// nav